* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    text-align: center;
  }
  
  p {
    text-align: center;
  }
  
  .container {
    display: grid;
    grid-template-areas: 
      "header header header"
      "nav article article"
      "footer footer footer";
    grid-gap: 10px;
    margin: 20px;
  }
  
  header {
    grid-area: header;
    background-color: burlywood;
    padding: 20px;
    text-align: center;
    font-size: 30px;
    color: white;
  }
  
  nav {
    grid-area: nav;
    background-color: blanchedalmond;
    padding: 20px;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav ul li {
    margin-bottom: 10px;
  }
  
  article {
    grid-area: article;
    background-color: #f1f1f1;
    padding: 20px;
  }
  
  footer {
    grid-area: footer;
    background-color: burlywood;
    padding: 10px;
    text-align: center;
    color: white;
  }
  
  @media (max-width: 600px) {
    .container {
      grid-template-areas: 
        "header"
        "nav"
        "article"
        "footer";
    }
  }
  